@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-maplegreen: oklch(58.09% 0.0789 150.46);
  --color-maplebrown: oklch(49.52% 0.0709 71.77);
  --color-mapletan: oklch(87.52% 0.0426 71.86);
  --color-maplered: oklch(45.2% 0.1562 26.11);
  --color-mapleorange: oklch(66.43% 0.1395 68.68);
}

body {
  font-family: Lexend;
}